@if(TempData["success"]!=null)
{
    <h2>@TempData["Success"]</h2>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
}

@if(TempData["error"]!=null)
{
    <h2>@TempData["error"]</h2>
}